#details{
    margin-top:40px;
    margin-left:40px;
}
#details Button{
    float:right;
    margin:40px;
    background-color: black;
    color:white;
}  
@media (min-width: 300px) and (max-width: 800px) {
    #details{
        margin-top:20px;
        margin-left:30px;
    }
    #details Button{
        float:right;
        margin-top: 4px;
        margin-right:3px;
        font-size: 10px;
        background-color: black;
        color:white;
    }  
}