#top{
    display:flex;
    margin:50px;
}
#top img{
    width:400px;
    height:400px;
    margin:10px;
    border-radius: 10px;
}
#side{
    margin-left:5%;
    border:1px solid black;
    padding:20px;
    border-radius:30px;
}
#comments{
    margin:50px;
    border:1px solid black;
    border-radius:20px;
    padding:20px;
}
#form1{
    width:50%;
}
#recipe a{
    color:white;
    text-decoration: none;
}
.edit{
    background-color: black;
    color:white;
    margin:10px;
    float:right;
}
#same{
    display:none;
}
@media (min-width: 300px) and (max-width: 800px) {
    #top{
        display: flex;
        width:85%;
        flex-direction: column;
        margin:20px;
    }
    #top img{
        width:170px;
        height:170px;
        margin:30px;
        border-radius: 10px;
    }
    .edit{
        background-color: black;
        color:white;
        font-size: 10px;
        float:right;
    }
}
